@import url("https://fonts.googleapis.com/css?family=Quicksand:400,700");

:root {
    --success: #5ee6b2;
    --danger: #e66a6a;
    --warning: #ffc72d;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}
body {
    color-scheme: dark;
    margin: 0;
    line-height: 1;
    background-color: #242424;
    font-family: "Quicksand", serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 14px;
    color: #fff;
}

h1 {
    font-size: 2.2rem;
}
h1,
h2 {
    font-weight: 400;
}
h1, h2, h4 {
    margin: 0 0 0.5rem 0;
}
small {
    font-size: 11px;
}

input, select {
    margin: 0;
    font-size: 13px;
    font-family: inherit;
    background: #292929;
    border-radius: 5px;
    cursor: pointer;
    outline: 0;
    text-align: center;
    border: 1px solid var(--success);
    border: 1px solid #757575;
}

input:hover,
select:hover {
    filter: brightness(120%);
}

input[type="number"] {
    width: 2rem;
    margin: 0 0.2rem;
}

input[type="number"],
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance:textfield;
}

hr {
    height: 1px;
    margin: 1rem 0;
    background-color: var(--success);
    border: none;
}

.form__row {
    display: flex;
    align-items: center;
    min-height: 20px;
    margin-bottom: 0.3rem;
}
.flex {
    display: flex;
}
.flex-col {
    display: flex;
    flex-direction: column;
}
.col-50 {
    flex: 50%;
}
.flex-center {
    display: flex;
    align-items: center;
}
.justify-center {
    justify-content: center;
}
.space-between {
    justify-content: space-between;
}
.wrap {
    flex-wrap: wrap;
}
.gap-02 {
    gap: 0.18rem;
}
.gap-05 {
    gap: 0.5rem;
}
.center {
    text-align: center;
}
.indent {
    margin-left: 1.4rem;
}
.mt-02 {
    margin-top: 0.2rem;
}
.my-1 {
    margin: 1rem 0;
}
.mb-02 {
    margin-bottom: 0.2rem;
}
.mb-05 {
    margin-bottom: 0.5rem;
}
.mb-1 {
    margin-bottom: 1rem;
}
.p-05 {
    padding: 0.5rem;
}
.strong {
    font-weight: bold;
}
.success {
    color: var(--success);
}
.danger {
    color: var(--danger);
}
.bg-success {
    background: var(--success);
}
.bg-warning {
    background: var(--warning);
}
.bg-danger {
    background: var(--danger);
}

::-webkit-scrollbar {
    width: 0.5rem;
}
::-webkit-scrollbar-track {
    background: #2c2c2c;
}
::-webkit-scrollbar-thumb {
    background: var(--success);
}
